$fuente_principal : "Bricolage Grotesque", sans-serif;
$fuente_secundaria : "Space Grotesk", sans-serif;

// Colores
$azulPastel:#62C8EC;
$azul: #336FF4;
$amarillo: #F5C344;
$rojo: #C8444B;
$azulMarino: #011640;
$verde: #438559;
$negro: #000;
$blanco: #FFFFFF;
$gris: #6E757C;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;